.headline-section
   +row-flex()
   position: relative
   //height: $fix100vh
   align-items: center   
   &__title
      +col()
      +size(8)
      +shift-left(1)
      +shift-xl-left(0)
      //+size-lg(12)
      +size-xl(12)
   &__picture
      +xl(display, none)
      +col()
      +size(3)
      align-self: flex-end
