.lead
   +row-flex()
   position: relative   
   align-items: center
   &__title
      +col()
      +size(7)
      +shift-left(1)
      +shift-xl-left(0)
      //+size-lg(12)
      +size-xl(9)
      +size-md(12)
      background: linear-gradient(90deg, #F857A6 0%, #FF5858 100%)
      -webkit-text-fill-color: transparent
      -webkit-background-clip: text
      @include xs-block()
         img
            width: 13px

   &__picture
      +md(display, none)
      +col()
      +size(3)
      +shift-right(1)
      +size-xl(2)
      +shift-xl-left(0)
      // position: absolute
      // right: 90px
      // bottom: 10px
      // @include lg-block()
      //    right: 0px
      //    width: 350px
