.notification-inner   
   +row-flex()
   @include xl-block
      justify-content: space-between

.notification
   background: $architect-black
   padding: 20px 20px
   border-radius: 10px
   display: flex
   align-items: center
   justify-content: space-around
   +col()
   +size(10)
   +size-xl(12)      
   +shift-left(1)
   +shift-xl-left(0)   
   @include md-block
      flex-direction: column
      align-items: flex-start
   &__picture
      display: flex
      width: 50%
      align-items: center
      @include md-block
         width: 100%
      img
         width: 80px
   &__title
      font: $h3
      font-weight: 500
      margin-left: 32px
      @include sm-block
         color: $white
         font-size: 16px
      // width: 40%

   &__wrapper
      display: flex
      align-content: center
      justify-content: center
   &__success
      align-self: center
      padding-left: 15px
      opacity: 0
      transition: all .3s $transition
      &_done
         opacity: 1
   &__form
      align-self: center
      @include md-block
         width: 100%
         margin: 1rem 0
   &__bottom
      margin-top: 12px
      font-size: 12px
      line-height: 14px
