.analyzing
   +margin-block()
   &__headline
      +col()
      +size(7)
      +size-xl(8)
      +size-md(12)
      +shift-left(2)
      +shift-xl-left(0)
      margin-bottom: 52px
   &__items

.analyzing-item
   margin-bottom: 82px
   &:last-of-type
      margin-bottom: 0px
   h3
      +font-h1()
      margin-bottom: 24px
   p
      +font-big-text
   &__top
      +col()
      +size(7)
      +size-xl(8)
      +size-md(12)
      +shift-left(2)
      +shift-xl-left(0)
      margin-bottom: 48px
   &__bottom

      h3, p
         +col()
         +size(7)
         +size-xl(8)
         +size-md(12)
         +shift-left(2)
         +shift-xl-left(0)
      p
         margin-bottom: 52px
   &__img
      +col()
      +size(7)
      +size-xl(12)
      +shift-left(2)
      +shift-xl-left(0)
      &_wild
         +col()
         +size(8)
         +size-xl(12)
         +shift-left(1)
         +shift-xl-left(0)
