.step   
   .title-section
      margin-bottom: 80px
      +row-flex()
      h2
         +col()
         +size(8)
         +size-xl(12)
         +shift-left(1)
         +shift-xl-left(0)
      @include md-block
         margin-bottom: 40px

.step-wrapper
   +row-flex()
.step-item   
   padding-bottom: 170px
   position: relative
   +col()
   +size(7)
   +size-xl(12)
   +shift-left(1)
   +shift-xl-left(0)
   @include md-block
      padding-bottom: 70px         
   &__line
      position: absolute
      top: 0px
      width: 2px
      height: 100%
      background: $architect-black
      left: 49px
      z-index: -2
      @include md-block
         display: none
      &-animation
         position: absolute
         top: 0px
         width: 2px
         height: 0%         
         left: 49px
         z-index: -1
         background: var(--gradient)
         @include md-block
            display: none
   &__content
      +row-flex() 
      @include md-block
         flex-direction: column
   &__number
      +col()
      +u-size(1,7, 20px)
      span
         font-weight: 500;
         display: flex
         font-size: 56px;
         line-height: 56px;
         color: $architect-black  
         align-items: center
         justify-content: center
         width: 96px
         height: 96px
         background: linear-gradient(90deg, #000000 0%, #000000 100%)
         box-shadow: inset 0px 0px 0px 2px #333
         border-radius: 100%
         transition: all 0.1s $transition
         @include md-block
            font-size: 24px
            line-height: 24px
            width: 36px
            height: 36px
            margin-bottom: 16px
      &_animation
         background: var(--gradient) !important
         color: #fff !important
         box-shadow: none !important
   &__text
      +col()
      +u-size(6,7, 20px)
      +size-md(12)
      @include md-block
         padding-left: 0px
   &__title
      +font-h1()
      margin-bottom: 36px;
      +md-block()
         margin-bottom: 16px;
   &__description
      +font-h3()
   &__list
      ul 
         +row-flex()
         li
            +col()
            +u-size(2,6, 20px)
            +font-h3()
            margin-bottom: 32px
            @include md-block
               +u-size(2,4, 20px)
               
   &:last-of-type .step-item__line
      display: none
   &:last-of-type .step-item__line-animation
      display: none      
   &:last-of-type
      padding-bottom: 0px   
   &:not(:first-of-type) .step-item__number
      
      span
         color: $architect-black  
         background: #000000             
