.service-header
   padding: 228px 0px 120px 0px
   z-index: 1
   margin-bottom: $offset-block / 2 
   &__row
      +row-flex()
   &__content
      +col()
      +size(9)
      +size-xl(12)
      +shift-left(1)
      +shift-xl-left(0)
      h1
         margin-bottom: 40px

.service-header-form
   margin-top: 60px
   display: inline-flex
   align-items: center
   padding: 10px 28px
   background: $architect-black
   border-radius: 10px
   @include md-block()
      flex-direction: column      
   &__photo
      width: 50px
   &__text
      font: $text
      font-weight: bold
   &__form

   div
      margin-right: 32px
      @include md-block()
         margin-right: 0px
         margin-bottom: 24px
      &:last-of-type
         margin-right: 0px
         margin-bottom: 0px


.more-service      
   .title-section
      +col()
      +size(8)
      +size-xl(12)
      +shift-left(0)
      +shift-xl-left(0)
      margin-bottom: 52px;
   .col
      +xl-block()
         +u-size(2,10,20px)
      +col()
      +size(2)   
      +size-md(6) 
      +size-sm(12)   
      display: flex


.partner
   +col()
   +size(12)
   +size-xl(12)   
   +shift-xl-left(0)   
   &__title

   &__logos
      +row-flex()
.partner-logo
   +col()
   +size(2)
   +size-xl(2)
   +size-md(6)


.quote
   +col()
   +size(10)
   +size-xl(12)
   +shift-left(0)
   +shift-xl-left(0)   
   &__mark

   &__text
      margin-bottom: 72px
      h2
         -webkit-text-fill-color: transparent
         -webkit-background-clip: text

   &__persone
      +row-flex()
      
   &__photo
      +col()
      +u-size(1, 10, 20px)
      +size-md(2)
   &__persone-text      
      +col
      +u-size(3, 10, 20px)
      +size-md(10)
      display: flex
      justify-content: center
      flex-direction: column      
   &__name
      font: $h3

   &__job
      font: $h3


.big-form
   +col()
   +size(12)
   background: $architect-black
   padding: 36px
   border-radius: 10px
   display: flex
   justify-content: space-between
   align-items: center
   @include xl-block
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start      
         
   &__headline
      font: $h1
      flex-basis: 24%
      @include xl-block
         margin-bottom: 32px 
      @include md-block
         font-size: $h1-mobile   
   &__form      
      @include xl-block
         margin-bottom: 32px
         width: 100%            
      input
         margin-right: 20px
         @include md-block
            margin-bottom: 24px
      input[type="submit"]
         @include md-block
            margin: 0px
   &__persone
      display: flex
      align-items: center
      flex-basis: 20%
   &__picture
      width: 80px
      margin-right: 15px
   &__contact
      display: flex
      flex-direction: column

.phone
   font: $h3
   @include md-block
      font-size: 18px


.page-service-content
   position: relative
.sticky-form
   position: absolute
   top: 20px
   width: 100%
   pointer-events: none
   +xl-block()
      display: none
   .wrapper

      .row
         justify-content: flex-end


.card-form
   pointer-events: auto
   +col()
   +size(3)
   padding: 60px 48px
   background: $architect-black
   border-radius: 10px
   display: flex
   flex-direction: column
   &__title
      font: $h2
   &__persone
      margin: 36px 0px 24px 0px

   &__phone


   &__mail



