.projects
	display: flex
	flex-wrap: wrap
.project-item
	width: 50%	
	height: 0px
	padding-bottom: 40%
	background-repeat: no-repeat
	background-size: cover	
	position: relative	
	+md-block()
		width: 100%
		padding-bottom: 60%
	a
		position: absolute
		width: 100%
		height: 100%
		top: 0
		z-index: 9
	&__overlay
		position: absolute
		width: 100%
		height: 100%
		top: 0
		background-color: #000000
		opacity: 0.2		
	&__content
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		position: absolute
		top: 0		
	&__title
		padding: 0px 50px
		text-align: center
		text-transform: uppercase
		margin-bottom: 0.5rem
	&__description


	&__tag
		position: absolute
		bottom: 16px		
		display: flex
		justify-content: center
		width: 100%
		span
			text-align: center
			padding: 6px 16px 
			background: $architect-black
			border-radius: 10px
			display: block
