.service-header
   padding: 228px 0px 120px 0px
   z-index: 1
   &__row
      +row-flex()
   &__content            
      +col()
      +size(9)
      +size-xl(12)
      +shift-left(1)
      +shift-xl-left(0)
      h1
         margin-bottom: 40px
      


