$architect-black: #333333
$architect-navy: #00284B
$architect-red: #FF403C
$text: #273342
$white: #ffffff
$font-text: 'Avenir Next', sans-serif
$font-headline: 'Aeroport', sans-serif
$gray: #EDEDED
$gradient: linear-gradient(90deg, #F857A6 0%, #FF5858 100%)
$section-title: 100px $font-headline  
$h1: 44px $font-headline

$h3: 24px/132% $font-text  
$h4: 24px/100% $font-text  
$text: 16px $font-text
$small-text: 12px $font-text 

$transition: cubic-bezier(0.65, 0, 0.35, 1)   
